In [2]:
#answer of ques 1
a = "python"
type(a)

str

In [3]:
a = [1,2,3,4,5]
type(a)

list

In [4]:
a = 2.56
type(a)

float

In [5]:
a = (1,2,3,4,5)
type(a)

tuple

In [6]:
#answer of ques-2
#(1)string
#(2)string
#(3)list
#(4)float

In [7]:
#answer of ques-3
#(/)- it is use for the true division of numbers
#ex:-
7/4

1.75

In [8]:
#(%)- it is modulo operator.it gives us remainder of division.
#ex:-
7%4

3

In [9]:
#(//):- it gives us the value ,that value, the value before the decimal point in the answer of the true division between the given no.s
#ex:-
7//4

1

In [10]:
#(**):-it is power operator.used to find the power expansion of a no.
#ex:-
7**4

2401

In [11]:
#answer of ques-4

In [17]:
data = [12,"python",12.89,True,False,(2,3,4),2+5j,0,1,"easy"]
for i in data:
              print(type(i))
              print(i)

<class 'int'>
12
<class 'str'>
python
<class 'float'>
12.89
<class 'bool'>
True
<class 'bool'>
False
<class 'tuple'>
(2, 3, 4)
<class 'complex'>
(2+5j)
<class 'int'>
0
<class 'int'>
1
<class 'str'>
easy

In [1]:
#answer of ques-5
A = int(input("enter A"))
B = int(input("enter B"))
count = 1
while count<= 1:
    if A%B == 0:
        print("A is divisible by B")
        count = count + 1
else:
    print("if A is divisible by B one time then it is divisible by B infinite times")

enter A 4
enter B 2

A is divisible by B
if A is divisible by B one time then it is divisible by B infinite times

In [23]:
#answer of ques-6
data = list(range(25))
for i in data:
    if i%3 == 0:
        print(i)
        print("is divisible by 3")
else:
    print("other numbers in list are not divisible by 5")

0
is divisible by 3
3
is divisible by 3
6
is divisible by 3
9
is divisible by 3
12
is divisible by 3
15
is divisible by 3
18
is divisible by 3
21
is divisible by 3
24
is divisible by 3
other numbers in list are not divisible by 5

In [25]:
#answer of ques-7
# "mutable-datatypes":-if we are able to assign values on a particular index in a data type then this data type is said to be mutable.
#ex:-lists.
marks = [90,98,97,96,95]
marks[0] = 99
marks

[99, 98, 97, 96, 95]

In [26]:
# "immutable data types":-
# if we are not able to assign values on a particular index in a data type then this data type is said to be immutable.
# ex:- strings
name = "python"
name[-1]

'n'

In [27]:
#but
name[-1] = m
name

NameError: name 'm' is not defined